@model IEnumerable<ShoppingList>

@{
    ViewData["Title"] = "Shopping Lists";
}

<h1>Shopping Lists</h1>

<p>
    <a asp-action="CreateList" >Create New Shopping List</a>
</p>
<table class="table table-bordered">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShoppingListName)
                </td>
                <td>
                    <a asp-action="Shop" asp-route-listId="@item.ShoppingListId" class="btn btn-primary">Start Shopping</a>
                    <a asp-action="ListDetails" asp-route-id="@item.ShoppingListId" class="btn btn-primary">Details</a> 
                    <a asp-action="EditList" asp-route-id="@item.ShoppingListId" class="btn btn-primary">Rename</a> 
                    <a asp-action="DeleteList" asp-route-id="@item.ShoppingListId" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
