@model IPagedList<Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<p>
    <a asp-action="CreateCategory">Create New Category</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Category Id")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="EditCategory" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-action="DeleteCategory" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model,
                    page => Url.Action("Categories", new {page}),
                    new PagedListRenderOptions(){DisplayLinkToFirstPage = PagedListDisplayMode.Always})